# Ignorar archivos de Python y entornos locales
*.py
__pycache__/
*.pyc
*.pyo
.venv/
env/
venv/

# Ignorar git
.git
.gitignore

# Ignorar archivos innecesarios
README.md
requirements.txt

# Mantener Dockerfile y flujo JSON
!Dockerfile
!prueba_PayJoy.json
