FROM n8nio/n8n:latest

# Copiar tu flujo
COPY prueba_PayJoy.json /root/.n8n/prueba_PayJoy.json

# Configuración de n8n vía env
ENV N8N_BASIC_AUTH_ACTIVE=true
ENV N8N_BASIC_AUTH_USER=<usuario>
ENV N8N_BASIC_AUTH_PASSWORD=<password>

EXPOSE 5678

CMD ["n8n", "start"]
